
/*  Sizing of Map Container Leaflet */
.leaflet-container {
    height: 75rem;
    width: 75rem;
  }

  .cluster-icon {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: darkred;
    transform: translate(-20%, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
    color: black;
  }

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

